.first {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  position: absolute;
  top: 80%;
  right: 0;
}

.first div {
  color: white;
  padding: 8px 16px;
  font-size: 0.9rem;
  cursor: pointer;
}
