.page_1 {
  height: 100vh;
  background: radial-gradient(circle at 70%, #bdbdbd -60%, #283593 100%);
  overflow: hidden;
  animation: up 3s 4s cubic-bezier(0.76, 0, 0.24, 1) forwards;
}

@keyframes up {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}

.page_1 img {
  width: 54%;
  position: fixed;
  bottom: -44%;
  left: 50%;
  animation: disappear 7s cubic-bezier(0.76, 0, 0.24, 1) forwards;
  perspective-origin: bottom;
}

@keyframes disappear {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateX(20deg);
  }
}

.page_1 .container {
  display: flex;
  flex-direction: row;
}

.page_1 .container .first,
.page_1 .container .mid,
.page_1 .container .last {
  height: 100vh;
  z-index: 4;
}

.page_1 .container .first .page_1 .container .last {
  flex-grow: 1;
}

.page_1 .container .mid {
  flex-grow: 2;
}

.page_1 .container .first {
  width: 12%;
  border-right: 1px solid rgba(204, 204, 204, 0.2);
  position: relative;
}

.page_1 .container .last {
  width: 12%;
  border-left: 1px solid rgba(204, 204, 204, 0.2);
  position: relative;
}

.page_1 .container .mid {
  width: 100%;
  position: relative;
}
